    <footer class="footer-container">

      <div class="container">
        <div class="row">
          <div class="footer-credits col-xs-5 col-sm-5 col-lg-5">
            <span>&copy; 2019 AdrianDC</span>
          </div>
          <div class="footer-top col-xs-2 col-sm-2 col-lg-2">
            <a class="footer-arrow" href="#top">
              <i class="material-icons">&#xE316;</i>
            </a>
          </div>
          <div class="footer-icons col-xs-5 col-sm-5 col-lg-5">
            <a class="fab fa-github fa-fw" href="https://github.com/AdrianDC?tab=repositories" target="_blank"></a>
          </div>
        </div>
      </div>

    </footer>
